# Server
PORT=4000
CLIENT_URL=http://localhost:5180

# MongoDB — do me se ek chuno:
#  (a) MongoDB Atlas (free cloud):
#      mongodb+srv://USERNAME:PASSWORD@cluster0.xxxxx.mongodb.net/pedinno
#  (b) Local MongoDB:
#      mongodb://127.0.0.1:27017/pedinno
MONGODB_URI=

# Step 8 (login) me chahiye hoga
JWT_SECRET=change-this-to-a-long-random-string
